@charset "utf-8";
/* CSS Document */

#themeoption ul,
#themeoption li {
	border:0;
	outline:0;
	margin:0;
	padding:0;
}
#themeoption a,
#themeoption a:hover {
	text-decoration:none;
	color:inherit;
}
p, div {
	vertical-align:middle;
}
.display-none {
	display:none;
}
.full {
	width:100%;
}
.goout {
	position:absolute;
	left:-3000px;
}
#themeoption {
	background:#f6f6f6;
	width:850px;
}
#themeoption h2 {
	padding-bottom:20px;
}
.panelheader {
	width:100%;
	height:200px;
	color:#c8c8c8;
	background:url(../images/header.png) no-repeat;
}
.panelbody {
	width:100%;
	overflow:hidden;
}
.panelfooter {
	width:100%;
	height:60px;
	float:left;
	overflow:hidden;
	color:#c8c8c8;
	background:url(../images/footer.png) no-repeat;
}
.panelheader span,
.panelfooter span {
	display:inline-block;
	margin:162px 0 0 20px;
	text-shadow:1px 1px #000;
}
.panelfooter span {
	margin:22px 0 0 20px;
}
#themeoption .panelheader .updatebutton,
#themeoption .panelfooter .updatebutton {
	background:url(../images/update-button.png) no-repeat;
	width:117px;
	height:38px;
	float:right;
	margin:152px 20px 0 0;
	cursor:pointer;
	border:0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
#themeoption .panelfooter .updatebutton {
	margin:12px 20px 0 0;
}
#themeoption .panelheader .updatebutton:hover,
#themeoption .panelfooter .updatebutton:hover {
	background-position:0 -38px;
	cursor:pointer;
}
#themeoption .panelheader .updatebutton:active,
#themeoption .panelfooter .updatebutton:active {
	background-position:0 -76px;
	cursor:pointer;
}
.panelsidebar {
	width:200px;
	float:left;
	background:#f6f6f6;
	color:#b4b4b4;
}
.panelsidebar .accordion-head {
	height:60px;
	width:200px;
	background:url(../images/sidebar.png) no-repeat;
	cursor:pointer;
}
.panelsidebar #general.accordion-head {
	background-position:0 0;
}
.panelsidebar #general.accordion-head:hover {
	background-position:0 -60px;
}
.panelsidebar #general.accordion-head:active {
	background-position:0 -120px;
}
.panelsidebar #sliders.accordion-head {
	background-position:-200px 0;
}
.panelsidebar #sliders.accordion-head:hover {
	background-position:-200px -60px;
}
.panelsidebar #sliders.accordion-head:active {
	background-position:-200px -120px;
}
.panelsidebar #coloring.accordion-head {
	background-position:-400px 0;
}
.panelsidebar #coloring.accordion-head:hover {
	background-position:-400px -60px;
}
.panelsidebar #coloring.accordion-head:active {
	background-position:-400px -120px;
}
.panelsidebar #elements.accordion-head {
	background-position:-600px 0;
}
.panelsidebar #elements.accordion-head:hover {
	background-position:-600px -60px;
}
.panelsidebar #elements.accordion-head:active {
	background-position:-600px -120px;
}
.panelsidebar #font.accordion-head {
	background-position:-800px 0;
}
.panelsidebar #font.accordion-head:hover {
	background-position:-800px -60px;
}
.panelsidebar #font.accordion-head:active {
	background-position:-800px -120px;
}
.panelsidebar .accordion-content ul {
	background:url(../images/menu.png) no-repeat;
}
.panelsidebar .accordion-content ul li a {
	display:block;
	height:30px;
	padding:20px 0 0 44px;
	background:#303030 url(../images/star.png) 24px 24px no-repeat;
	color:#b4b4b4;
	text-shadow:1px 1px #000;
	cursor:pointer;
}
.panelsidebar .accordion-content ul li a:hover,
.panelsidebar .accordion-content ul li a.active {
	background:url(../images/menuhover.png) no-repeat;
}
	
/* custom form and element
---------------------------------------- */
.custom-form {
	overflow:hidden;
	padding:20px 0 40px 30px;
	background:#ebebeb;
}
#themeoption .custom-form {
	min-height:540px;
}
.custom-form  select {
	width:110px;
	height:38px;
	line-height:34px;
	margin:32px 0 0;
	clear:both;
	float:left;
	border:1px solid #dfdfdf;
	color:#313131;
}
.custom-form textarea {
	width:500px;
	height:220px;
	margin:12px 0 0;
	padding:10px;
	clear:both;
	float:left;
	border:0;
	color:#313131;
	resize:none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background:url(../images/textarea-500.png) 0 0 no-repeat;
}
.custom-form input {
	border:0;
	outline:0;
	margin:0;
	padding:0;
	margin:7px 0 0;
	float:left;
	padding:0 10px;
	height:38px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.custom-form input[type='text'] {
	width:110px;
	height:38px;
	line-height:36px;
	margin:32px 0 0;
	clear:both;
	color:#313131;
	background:url(../images/input-110.png) 0 0 no-repeat;
}
.custom-form input[type='text'].w500 {
	width:500px;
	margin:3px 0 0;
	background:url(../images/input-500.png) no-repeat;
}
.custom-form input[type='text'].w200 {
	width:200px;
	background:url(../images/input-200.png) 0 0 no-repeat;
}
.custom-form input.upload-text {
	width:353px;
	background:url(../images/input-bg.png) 0 0 no-repeat;
}
.custom-form input.upload-button {
	width:117px;
	height:37px;
	margin-top:32px;
	background:url(../images/upload-button.png) no-repeat;
}
.custom-form input.upload-button:hover {
	background-position:0 -38px;
	cursor:pointer;
}
.custom-form input.upload-button:active {
	background-position:0 -76px;
	cursor:pointer;
}
.custom-form .example-image {
	float:left;
	width:100%;
}
.custom-form h4,
.custom-form h5 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	text-shadow:1px 1px #fff;
	color:#565656;
	float:left;
	width:100%;
}
.custom-form h5 {
	font-size:13px;
}
.custom-form .pa-option {
	overflow: hidden;
	width:100%;
	padding:0 0 30px;
	margin:0 0 10px;
	background:url(../images/divider.png) 0 100% repeat-x;
}
.custom-form .row {
	width:100%;
	overflow:hidden;
	margin:10px 0;
	float:left;
}
.custom-form .row.w150 {
	width:150px;
}
.custom-form .row.w110 {
	width:110px;
	margin:0;
}
.custom-form strong {
	font-style:italic;
	margin:0 5px;
	color:#484848;
}
.custom-form .description {
	width:360px;
	height:60px;
	margin:10px 0 0 50px;
	float:left;
	padding:10px 0 10px 100px;
	background:url(../images/info.png) 0 50% no-repeat;
}
.custom-form .description.full {
	width:100%;
	margin-left:0;
}
.custom-form label {
	float:left;
	margin:6px 0 0;
}
.custom-form label.checkboxarea,
.custom-form label.checkboxareachecked {
	float:left;
	width:110px !important;
	height:38px;
	background:url(../images/button-on-off.png) no-repeat;
	overflow:hidden;
	margin:32px 0 0;
}
.custom-form label.checkboxareachecked {
	background-position: 0 -38px;
}
.custom-form label.radioarea,
.custom-form label.radioareachecked {
	float:left;
	width:120px !important;
	height:80px;
	overflow:hidden;
	margin:6px 0 0;
}
.custom-form label.radioareachecked  { 
	background-position:0 -80px;
}
#welcome-section p {
	font-size:18px;
}
#welcome-section span {
	font-size:12px;
	display:block;
}
#welcome-section #welcome {
	padding:50px 0 0;
	text-align:center;
	font-size:18px;
	overflow:hidden;
	float:left;
	width:100%;
}
#welcome-section #welcome strong {
	display:block;
	float:left;
	font-size:72px;
	line-height:72px;
	margin:30px 0 100px;
	text-shadow:5px 5px #FFF;
	text-align:center;
	width:100%;
}
label.copyrighttwo {
	background:url(../images/copytwo.png) no-repeat;
}
label.copyrightsingle {
	background:url(../images/copysingle.png) no-repeat;
}
#copyright-section label.copyrightleft,
#copyright-section label.copyrightright,
#copyright-section label.copyrightmiddle {
	height:22px;
}
.sidebar-selection {
	clear:both;
	overflow:hidden;
	padding:20px 0 0;
}
#sidebar-section .add-sidebar {
	width:117px;
	height:37px;
	float:left;
	margin:32px 0 0 20px;
	cursor:pointer;
	background:url(../images/add.png) no-repeat;
}
#sidebar-section .add-sidebar:hover {
	background-position:0 -37px;
}
#sidebar-section .add-sidebar:active {
	background-position:0 -74px;
}
#sidebar-section #added-sidebar-wrapper {
	clear:both;
}
#sidebar-section .sample-sidebar-item,
#sidebar-section .added-sidebar-item {
	position:relative;
	overflow:hidden;
	float:left;
	margin:40px 30px 0 0;
	height:80px;
	width:120px;
	display:none;
	background:url(../images/add-sidebar.png) no-repeat;
}
#sidebar-section .added-sidebar-item-del {
	position:absolute;
	right:0;
	top:40;
	height:25px;
	width:25px;
	cursor:pointer;
	background:url(../images/del-sidebar.png) no-repeat;
}
#sidebar-section .added-sidebar-item-title {
	position:relative;
	color:white;
	height:50px;
	width:85px;
	float:left;
	margin:30px 30px 0 5px;
}
label.sidebarright {
	background:url(../images/right-sidebar.png) no-repeat;
}
label.sidebarleft {
	background:url(../images/left-sidebar.png) no-repeat;
}
label.sidebarboth {
	background:url(../images/both-sidebar.png) no-repeat;
}
label.sidebarno {
	background:url(../images/no-sidebar.png) no-repeat;
}
label.footerstyle1 {
	background:url(../images/footerstyle1.png) no-repeat;
}
label.footerstyle2 {
	background:url(../images/footerstyle2.png) no-repeat;
}
label.footerstyle3 {
	background:url(../images/footerstyle3.png) no-repeat;
}
label.footerstyle4 {
	background:url(../images/footerstyle4.png) no-repeat;
}
label.footerstyle5 {
	background:url(../images/footerstyle5.png) no-repeat;
}
label.footerstyle6 {
	background:url(../images/footerstyle6.png) no-repeat;
}
label.footerstyle7 {
	background:url(../images/footerstyle7.png) no-repeat;
}
label.footerstyle8 {
	background:url(../images/footerstyle8.png) no-repeat;
}
#fontfamily-section .font-example {
	width:300px;
	height:36px;
	line-height:36px;
	font-size:24px;
	margin:32px 0 0 100px;
	float:left;
	background:#fff;
	text-align:center;
	vertical-align:middle;
	border:1px solid #dfdfdf;
}
label.fontadd {
	width:113px;
	margin-right:20px;
}
#fontupload-section .add-font {
	width:117px;
	height:37px;
	float:left;
	margin:32px 0 0 20px;
	cursor:pointer;
	background:url(../images/add.png) no-repeat;
}
#fontupload-section .add-font:hover {
	background-position:0 -37px;
}
#fontupload-section .add-font:active {
	background-position:0 -74px;
}
#fontupload-section #added-font-wrapper {
	clear:both;
}
#fontupload-section .sample-font-item,
#fontupload-section .added-font-item {
	position:relative;
	overflow:hidden;
	float:left;
	margin:40px 30px 0 0;
	height:80px;
	width:120px;
	display:none;
	background:url(../images/add-sidebar.png) no-repeat;
}
#fontupload-section .added-font-item-del {
	position:absolute;
	right:0;
	top:40;
	height:25px;
	width:25px;
	cursor:pointer;
	background:url(../images/del-sidebar.png) no-repeat;
}
#fontupload-section .added-font-item-title {
	position:relative;
	color:white;
	height:50px;
	width:85px;
	float:left;
	margin:30px 30px 0 5px;
}
#socialshare-section .description.facebook {
	background-image:url(../images/facebook.png);
}
#socialshare-section .description.twitter {
	background-image:url(../images/twitter.png);
}
#socialshare-section .description.google {
	background-image:url(../images/google.png);
}
#socialshare-section .description.stumbleupon {
	background-image:url(../images/stumbleupon.png);
}
#socialshare-section .description.myspace {
	background-image:url(../images/myspace.png);
}
#socialshare-section .description.delicious {
	background-image:url(../images/delicious.png);
}
#socialshare-section .description.digg {
	background-image:url(../images/digg.png);
}
#socialshare-section .description.reddit {
	background-image:url(../images/reddit.png);
}
#socialshare-section .description.linkedin {
	background-image:url(../images/linkedin.png);
}
#socialnetwork-section .description {
	width:270px;
	margin-left:50px;
}
#socialnetwork-section .description.delicious {
	background-image:url(../images/delicious.png);
}
#socialnetwork-section .description.deviantart {
	background-image:url(../images/deviantart.png);
}
#socialnetwork-section .description.digg {
	background-image:url(../images/digg.png);
}
#socialnetwork-section .description.facebook {
	background-image:url(../images/facebook.png);
}
#socialnetwork-section .description.flickr {
	background-image:url(../images/flickr.png);
}
#socialnetwork-section .description.google {
	background-image:url(../images/google.png);
}
#socialnetwork-section .description.lastfm {
	background-image:url(../images/lastfm.png);
}
#socialnetwork-section .description.linkedin {
	background-image:url(../images/linkedin.png);
}
#socialnetwork-section .description.picasa {
	background-image:url(../images/picasa.png);
}
#socialnetwork-section .description.rss {
	background-image:url(../images/rss.png);
}
#socialnetwork-section .description.stumbleupon {
	background-image:url(../images/stumbleupon.png);
}
#socialnetwork-section .description.tumblr {
	background-image:url(../images/tumblr.png);
}
#socialnetwork-section .description.twitter {
	background-image:url(../images/twitter.png);
}
#socialnetwork-section .description.vimeo {
	background-image:url(../images/vimeo.png);
}
#socialnetwork-section .description.youtube {
	background-image:url(../images/youtube.png);
}
#background-section label.bodypattern1 {
	background:#ffffff url(../../images/pattern/pattern1.png);
}
#background-section label.bodypattern2 {
	background:#ffffff url(../../images/pattern/pattern2.png);
}
#background-section label.bodypattern3 {
	background:#ffffff url(../../images/pattern/pattern3.png);
}
#background-section label.bodypattern4 {
	background:#ffffff url(../../images/pattern/pattern4.png);
}
#background-section label.bodypattern5 {
	background:#ffffff url(../../images/pattern/pattern5.png);
}
#background-section label.bodypattern6 {
	background:#ffffff url(../../images/pattern/pattern6.png);
}
#background-section label.bodypattern7 {
	background:#ffffff url(../../images/pattern/pattern7.png);
}
#background-section label.bodypattern8 {
	background:#ffffff url(../../images/pattern/pattern8.png);
}
#background-section label.bodypattern9 {
	background:#ffffff url(../../images/pattern/pattern9.png);
}
#background-section label.bodypattern10 {
	background:#ffffff url(../../images/pattern/pattern10.png);
}
#background-section label.bodypattern11 {
	background:#ffffff url(../../images/pattern/pattern11.png);
}
#background-section label.bodypattern12 {
	background:#ffffff url(../../images/pattern/pattern12.png);
}
#background-section label.bodypattern13 {
	background:#ffffff url(../../images/pattern/pattern13.png);
}
#background-section label.bodypattern14 {
	background:#ffffff url(../../images/pattern/pattern14.png);
}
#background-section label.bodypattern15 {
	background:#ffffff url(../../images/pattern/pattern15.png);
}
#background-section label.bodypattern16 {
	background:#ffffff url(../../images/pattern/pattern16.png);
}
#background-section label.bodypattern17 {
	background:#ffffff url(../../images/pattern/pattern17.png);
}
#background-section label.bodypattern18 {
	background:#ffffff url(../../images/pattern/pattern18.png);
}
#background-section label.bodypattern19 {
	background:#ffffff url(../../images/pattern/pattern19.png);
}
#background-section label.bodypattern20 {
	background:#ffffff url(../../images/pattern/pattern20.png);
}
#background-section label.bodypattern21 {
	background:#ffffff url(../../images/pattern/pattern21.png);
}
#background-section label.bodypattern22 {
	background:#ffffff url(../../images/pattern/pattern22.png);
}
#background-section label.bodypattern23 {
	background:#ffffff url(../../images/pattern/pattern23.png);
}
#background-section label.bodypattern24 {
	background:#ffffff url(../../images/pattern/pattern24.png);
}
#background-section label.bodypattern25 {
	background:#ffffff url(../../images/pattern/pattern25.png);
}
#background-section label.bodypattern26 {
	background:#ffffff url(../../images/pattern/pattern26.png);
}
#background-section label.bodypattern27 {
	background:#ffffff url(../../images/pattern/pattern27.png);
}
#background-section label.radioareachecked img { 
	margin-top:-80px;
}
#allbackground-section .row.w110 {
	margin-right:10px;
}

/* Page option
---------------------------------------- */

#pa-page-option .inside {
	margin:0;
	padding:0;
}
#pageheadernav {
	display:block;
	margin-bottom:50px;
	padding-bottom:0;
}
a.pageoptionheader {
	text-decoration:none;
	display:inline-block;
	margin-right:30px;
}
#pagelength,
#portthumbdate-on-off,
#portstylegal-on-off {
	display:none;
}
label.normal-length {
	background:url(../images/normal-length.png) no-repeat;
}
label.full-length {
	background:url(../images/full-length.png) no-repeat;
}
#pageimage-on-off .row.w110 {
	margin-right:10px;
}

/* Post option
---------------------------------------- */

#pa-post-option .inside {
	margin:0;
	padding:0;
}

/* Portfolio option
---------------------------------------- */

#pa-portfolio-option .inside {
	margin:0;
	padding:0;
}

/* Testimonial option
---------------------------------------- */

#pa-testimonial-option .inside {
	margin:0;
	padding:0;
}

/* Slider option
---------------------------------------- */

#pa-slider-option .inside {
	margin:0;
	padding:0;
}

/* Slider image chooser
---------------------------------------- */
#image-picker {
	overflow:hidden;
}
div.selected-image {
	min-height:140px;
	margin:20px 0;
	overflow:hidden;
}
.selected-image-wrapper img {
	display:block;
}
.selected-image-wrapper {
	position:relative;
	cursor:pointer;
}
.ui-sortable {
	margin:0;
}
#selected-image-none {
	width:100%;
	height:140px;
	margin:0 auto;
	background:url(../images/select-media.png) 50% 50% no-repeat;
}
.selected-image ul li {
	float:left;
	margin:0px 20px 20px 0px;
}
.selected-image ul li img {
	width:160px;
	height:110px;
}
.selected-image-element {
	position:absolute;
	top:0px;
	right:0px;
}
.unpick-image {
	width:25px;
	height:25px;
	float:left;
	cursor:pointer;
	background:url(../images/del-sidebar.png);
}
.show-media {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-16px;
	color:#999;
}
.loading-media-image {
	float:left;
	width:32px;
	height:32px;
	background:url(../images/loader.gif);
}
li.default {
	display:none;
}
li.slider-image-init {
	padding:5px;
	background-color:#ffffff;
	box-shadow:1px 1px 4px #bbb;
	-moz-box-shadow:1px 1px 4px #bbb;
	-webkit-box-shadow:1px 1px 4px #bbb;
}

/* Media Image Gallery */
div.media-image-gallery-wrapper {
	min-height:160px;
	position:relative;
}
.media-image-gallery {
	overflow:hidden;
	position:relative;
}
.media-image-gallery ul {
	margin:0;
	float:left;
	clear:both;
}
.media-image-gallery > ul li {
	float:left;
	margin:0px 20px 20px 0px;
	background-color:#ffffff;
	box-shadow:0px 0px 5px #bbb;
	-moz-box-shadow:0px 0px 5px #bbb;
	-webkit-box-shadow:0px 0px 5px #bbb;
}
.media-image-gallery ul li img {
	cursor:pointer;
	width:75px;
	height:75px;
	display:block;
}
.media-gallery-nav {
	overflow:hidden;
	margin:0 0 20px 0;
}
.media-gallery-nav ul li {
	float:left;
	min-width:20px;
	height:20px;
	margin:0px 8px 20px 0px;
	background-color:#ffffff;
	border:1px solid #bebebe;
	color:#7f7f7f;
	text-align:center;
	line-height:20px;
	background-image:url(../images/confirm.png);
}
.media-gallery-nav ul li a {
	display:block;
	width:20px;
	height:20px;
	color:#adadad;
	background-color:#f7f7f7;
}
.media-gallery-nav ul li.nav-first a {
	width:40px;
	color:#adadad;
}
.media-gallery-nav ul li.nav-last a {
	width:40px;
	color:#adadad;	
}
.media-gallery-nav ul li a:hover {
	color:#7f7f7f;
	background-color:#ddd;
	cursor:pointer;
}
.slider-placeholder {
	float:left;
}